.photo-cell {
    position: relative;
    height: 20em;
    width: auto;
    margin-bottom: 40px;
}

.column-2-photo-cell {
    position: relative;
    height: 10em;
    width: auto;
    justify-content: center;
    flex: 1 1 0;
}

#inazuma-gallery-title {
    width: 100%;
    color: white;
    display: flex;
    position: absolute;
    justify-content: center;
    overflow: hidden;
}

#column-2 {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 64.5em;
    width: auto;
    justify-content: space-between;
    top: 6em;
    flex-shrink: 1;
    margin-right: 2%;
}

#column-1 {
    margin-top: 6em;
    position: relative;
    flex-direction: column;
    display: flex;
    height: 86%;
    width: auto;
    justify-content: space-between;
    flex-shrink: 1;
}

#island {
    margin-top: 0;
    height: 30em;
    width: 55em;
}

#serai-island {
    position: relative;
    height: 30em;
    width: 55em;
}

#tenshukaku {
    align-self: center;
    height: 40em;
}

#column-0 {
    position: relative;
    margin-top: 6em;
    justify-content: space-between;
    height: 64.5%;
    width: auto;
    margin-left: 2%;
    flex-shrink: 1;
}

#castle {
    width: 36.5em;
}