.section-1 {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

@media (min-aspect-ratio: 16/9) {
    .section-1 {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .section-1 {
        width: auto;
        height: 100%;
    }
}