body {
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* ------------------- THIS IS THE HEADER AND NAV BAR --------------------- */

#section-1 {
    display: flex;
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    filter: blur(0);
    z-index: -99;
    resize: both;
}

nav {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    width: auto;
    height: 80px;
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, 0.774);
    border-bottom: solid 1px rgba(209, 209, 209, 0.699);
    left: 0;
    top: 0;
    overflow: hidden;
}

nav div {
    position: relative;
    overflow: hidden;
    height: 50px;
}

#playButton {
    margin-top: 0.3em;
}

nav #one {
    flex: 0.5 0.5 0%;
    height: 70px;
    width: 300px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 95px;
}

nav #two {
    margin-top: 15px;
    flex: 0.5 0.5 0%;
    margin-right: 5px;
    margin-left: 500px;
    color: white;
    text-align: center;
    border: 2px solid white;
    border-radius: 0.8em;
}

nav #three {
    margin-top: 15px;
    flex: 0.5 0.5 0%;
    margin-right: 5px;
    margin-left: 5px;
    color: white;
    text-align: center;
    border: 2px solid white;
    border-radius: 0.8em;
}

nav #four {
    margin-top: 15px;
    width: 50px;
    flex: 0.5 0.5 0%;
    margin-right: 5px;
    margin-left: 5px;
    color: white;
    text-align: center;
    border: 2px solid white;
    border-radius: 0.8em;
}

nav #five {
    display: none;
    margin-top: 15px;
    margin-right: 10px;
}

nav #two:hover {
    background-color: rgba(255, 255, 255, 0.336);
}

nav #three:hover {
    background-color: rgba(255, 255, 255, 0.336);
}

nav #four:hover {
    background-color: rgba(255, 255, 255, 0.336);
}

nav #five:hover {
    background-color: rgba(255, 255, 255, 0.336);
    border-radius: 10px;
}

#emblem-container {
    position: relative;
    display: flex;
    height: 100%;
    width: auto;
    justify-content: center;
    z-index: -1;
}

.emblem-img:hover {
    filter: brightness(1.2);
}

/*---------------------------- THIS IS THE DESCRIPTION OF INAZUMA ------------------------------ */

#section-2 {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin-bottom: 0;
    z-index: 2;
}

.inazuma-description {
    position: relative;
    font-style: italic;
    z-index: 3;
    color: white;
    padding-left: 20%;
    padding-right: 20%;
    top: -40em;
    font-size: 1em;
}

.inpirational-quote {
    height: 100%;
    width: auto;
    background-color: rgba(0, 0, 0, 0.726);
    border-radius: 12.5px;
    padding: 15px;
}

/*----------------------------- THESE ARE THE CHARACTER SHOWCASES ---------------------------- */

/* CHARACTER SLIDE TEMPLATE */
.slide {
    position: relative;
    height: 100%;
    width: auto;
    overflow: hidden;
}

.slide-description {
    position: relative;
    height: 42%;
    width: 25%;
    margin-top: -65em;
    background-color: rgba(0, 0, 0, 0.281);
    z-index: 3;
    margin-left: 5%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    border-radius: 15px;
    margin-bottom: 4em;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.726);
}

/*----------------------------- INAZUMA PHOTO GALLERY -------------------------------------- */

#inazuma-gallery {
    display: flex;
    position: absolute;
    height: 50%;
    width: auto;
    /*background-color: rgba(0, 0, 0, 0.514);*/
    justify-content: space-around;
    flex-direction: row;
}

#inazuma-gallery img {
    border-radius: 10px;
}

#gallery-h1 {
    background-color: rgba(0, 0, 0, 0.575);
    padding: 8px;
    border-radius: 8px;
}

.something {
    position: relative;
    display: flex;
    height: 30%;
    width: auto;
    background-color: rgba(137, 43, 226, 0.555);
}

/* WEBSITE RESPONSIVENESS */


@media (max-width: 1890px) {

}

@media (max-width: 1650px) {
}

@media (max-width: 1300px) {
    nav #one, nav #two, nav #three, nav #four {
        display: none;
    }
    nav #five {
        display:flex;
        margin-left: 15px;
    }
}

@media (max-width: 1550px) {

}

@media (max-width: 1450px) {
    .slide-description {
        position: relative;
        width: 50%;
    }
}

@media (max-width: 940px) {

    .inazuma-description {
        position: relative;
        margin-top: -10%;
    }

    #inazuma-gallery-title {
        top: 0.5em;
    }

    #gallery-h1 {
        font-size: 50px;
    }

    #inazuma-gallery {
        position: relative;
        flex-direction: column;
    }

    #column-0 {
        position: relative;
        margin-right: 2%;
    }

    #column-1 {
        position: relative;
        margin-top: 1.7em;
        flex-direction: row;
        margin-right: 2%;
    }

    #column-2 {
        position: relative;
        margin-top: 4em;
    }

    .column-2-item {
        margin-left: 1%;
    }

    .photo-cell {
        position: relative;
        height: 50%;
        width: 50%;
    }
}

@media (max-width: 800px) {
    .slide-description {
        position: relative;
        width: 80%;
    }
}

@media (max-width: 700px) {
}

@media (max-width: 500px) {
    nav #one {
        display: none;
    }

    #inazuma-gallery {
        height: 90%;
    }

    .raiden-shogun {
        display: none;
    }
}

@media (max-width: 450px) {
    .inazuma-description {
        position: relative;
        margin-top: -80%;
        height: 57%;
        width: 80%;
        right: 10%;
    }
}